.itemStructure {
    display: flex;
}

.halves {
    width: 50%;
    display: flex;
}

.quarter {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.imageArea {
    width: 75%;
    border: groove;
}

.smallPic {
    width: 50%;
    margin-top: none;
    margin-left: auto;
    margin-bottom: 2%;
    margin-right: 3%;
}

.smallPic:hover {
    opacity: 50%;
    cursor: pointer;
}