@media screen and (min-width: 1000px) {

    .bigPic {
        width: 100%;
    }

    .itemStructure {
        display: flex;
    }

    .halves {
        width: 50%;
        display: flex;
    }

    .quarter {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .imageArea {
        width: 75%;
        border: groove;
        height: fit-content;
        max-height: 700px;
        overflow: hidden;
    }

    .smallPic {
        width: 50%;
        max-height: 150px;
        margin-left: auto;
        margin-bottom: 2%;
        margin-right: 3%;
    }

    .smallPic:hover {
        opacity: 50%;
        cursor: pointer;
    }

    .boxes:hover {
        opacity: 50%;
        cursor: pointer;
    }

    .boxes {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .otherItemsCards {
        max-height: 500px;
        max-width: 300px;
        min-width: 200px;
        margin-top: 2%;
    }

    .otherItems {
        display: flex;
        justify-content: space-evenly;
    }

    .mobileQuarter {
        display: none;
    }

    .mobileTitle {
        display: none;
    }

    .desktopTitle {
        margin-right: 3%;
    }
}

@media screen and (max-width: 999px) {

    .bigPic {
        width: auto;
        max-width: 100%;
        border: groove;
    }

    .imageArea {
        margin: auto;
        width: fit-content;
        max-width: 100%;
        overflow: hidden;
    }

    .otherItemsCards {
        max-height: 150px;
    }

    .smallPic {
        max-width: 50px;
        margin: 2%;
        margin-top: 0;
    }

    .quarter {
        display: none;
    }

    .mobileQuarter {
        margin-top: 5%;
        display: flex;
        width: fit-content;
    }

    .desktopTitle {
        display: none;
    }

    .mobileTitle {
        width: fit-content;
        margin: auto;
        margin-left: 3%;
    }

    .boxes {
        margin-top: 3%;
        margin-bottom: 3%;
    }
}